.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  align-items: center;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCart {
  fill: none;
  stroke: var(--color-primary);
}

.initialWrapper {
  width: 40px;
  height: 40px;
  background-color: rgb(89, 177, 122, 10%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-primary);
}

.cartWrapper {
  display: flex;
  gap: 8px;
}

.iconWrap {
  margin-left: 2px;
  border: none;
  background-color: inherit;
}

.menu {
  width: 32px;
  height: 32px;
  stroke: var(--color-primary);
}

@media screen and (min-width:768px) {
.header {
    padding: 28px 0px;
}
    .logo {
        width: 172px;
        height: 44px;
    }

    .iconWrapper {
        width: 44px;
        height: 44px;
    }

    .initialWrapper {
         width: 44px;
        height: 44px;
    }

    .initial {
        font-size: 18px;
    }

    .iconCart {
        width: 20px;
        height: 20px;
    }

    .menu {
        width: 34px;
        height: 34px;
    }
}
