.medicineItem {
  width: 335px;
  margin: 0 auto;
}

.image {
  border: 1.15px solid rgba(89, 177, 122, 0.6);
  border-radius: 20px;

  width: 335px;
  height: 300px;
  margin-bottom: 8px;
}

.productInfo {
  border-radius: 20px;
  padding: 20px;
  background-color: var(--color-white);
}

.namePrice {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suppliers {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-text-light);
  margin-bottom: 17px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  text-decoration: underline;
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .medicineItem {
    width: 226px;
  }

  .image {
    width: 226px;
    height: 260px;
  }

  button.cartButton {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1440px) {
  .medicineItem {
    width: 280px;
  }

  .image {
    width: 280px;
    height: 280px;
  }
}
