
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--color-background);
}

ul,
ol {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
}

:root {

  --color-primary: #59b17a;
  --color-primary-hover: #3f945f;

 
  --color-text:  #252539;
   --color-text-light:  #93939a; 
  --color-text-secondary: #f1f1f1;

  
  --color-background: rgb(212, 212, 212, 30%);
  --color-white: #ffffff;

    --color-red: #e85050;
  --color-red-hover: rgba(232, 80, 80, 0.1);
  --color-red-text: #e85050;
}